import all required libraries

In [76]:
import pandas as pd
from sklearn import preprocessing, feature_extraction, linear_model, metrics
from deep_translator import GoogleTranslator
from sklearn.linear_model import LinearRegression as LR  
from sklearn.model_selection import train_test_split 
from sklearn import tree
from sklearn.model_selection import train_test_split

Read file

In [77]:
df = pd.read_csv("Title_seed_data_2023-03-08T22.00.04.csv")

How many different types of values in each column

In [78]:
for i in range(4):
    print("There are", len(df.iloc[:, i].unique()), "different types of values in column:", i, ":", df.columns.values[i])

There are 21 different types of values in column: 0 : OP_IT_Job_Sub_Function__c
There are 31 different types of values in column: 1 : OP_Job_Function__c
There are 8 different types of values in column: 2 : OP_Job_Level__c
There are 106187 different types of values in column: 3 : Title

Detail information of each column

In [79]:
print("Categories and numbers of value in column 0:",df.columns.values[0])
print(df.OP_IT_Job_Sub_Function__c.value_counts())

Categories and numbers of value in column 0: OP_IT_Job_Sub_Function__c
It General                    44793
Development                   32897
Systems                       29232
Business Systems              11678
Database                      10747
Networking                     8653
Information Security           7301
Program Management             6811
Operations                     6370
Help Desk                      6213
Private Cloud                  2370
Integration                    2139
Governance Risk Compliance     2129
Vendor Management              1004
Communications                  963
Training                        461
Business Continuity             369
End User Computing              347
Data                            162
IT Facilities                   162
Name: OP_IT_Job_Sub_Function__c, dtype: int64

In [80]:
print("Categories and numbers of value in column 1:",df.columns.values[1])
print(df.OP_Job_Function__c.value_counts())

Categories and numbers of value in column 1: OP_Job_Function__c
IT                136186
Engineering        35450
Management         19665
Sales               9461
Operations          7851
Marketing           2423
blank               2378
Support             2338
Finance             1860
Education           1804
Services            1189
Purchasing           840
Human Resource       745
Medical              585
Facilities           539
Administration       451
Public Sector        397
Corporate            380
Legal                305
Service               52
IoT/Edge              26
Contributor            6
Business               4
Public Service         2
Military               1
Manager                1
시스템운영팀                 1
HR                     1
스마트 테크놀러지              1
Consulting             1
Name: OP_Job_Function__c, dtype: int64

In [81]:
print("Categories and numbers of value in column 2:",df.columns.values[2])
print(df.OP_Job_Level__c.value_counts())

Categories and numbers of value in column 2: OP_Job_Level__c
Contributor    98665
Manager        61727
Director       29852
Executive      15785
C-Level        14001
blank              4
차장                 1
Name: OP_Job_Level__c, dtype: int64

In [82]:
print("Categories and numbers of value in column 3:",df.columns.values[3])
print(df.Title.value_counts())

Categories and numbers of value in column 3: Title
IT Manager                                         2860
Information Technology Manager                     2182
Manager                                            2112
Director                                           1921
Manager, Information Technology                    1847
                                                   ...
Head, Information Technology Finance and Assets       1
vocalist                                              1
Senior Business Application Administrator             1
Application Developer & Systems Analyst               1
IT Network & Infrastructure                           1
Name: Title, Length: 106186, dtype: int64

In [83]:
df_jobfunction = pd.DataFrame(df,columns = ["OP_Job_Function__c","Title"])
df_jobfunction = df_jobfunction.dropna(axis=0, how='any')
print(df_jobfunction)

       OP_Job_Function__c                             Title
0                      IT         Technical Support Analyst
1              Operations                   project manager
2                      IT                    Technical Lead
3                      IT                       IT-Arkitekt
4                      IT            Network technical lead
...                   ...                               ...
249995                 IT             Network Administrator
249996                 IT  Manager, Bus Applications Bt Mex
249997        Engineering           Senior Telecom Engineer
249998         Management                             C.e.o
249999        Engineering                         ハードウェア開発部

[224938 rows x 2 columns]

Tried to translate all foreign language into english, but it was too slow... Still looking for useful tool to translate

In [84]:
# for ind in df_jobfunction.index:
#      str1=df_jobfunction['OP_Job_Function__c'][ind]
#      str2=df_jobfunction['Title'][ind]
#      translated1 = GoogleTranslator(source='auto', target='en').translate(str1)
#      translated2 = GoogleTranslator(source='auto', target='en').translate(str2)
#      df_jobfunction.loc[ind,'OP_Job_Function__c'] = translated1
#      df_jobfunction.loc[ind,'Title'] = translated2
#      print(ind,lang1.detect_language(),lang2.detect_language())
#  clean = df_jobfunction
#  print(clean)

Tried to seperate dateset into train set and test set, not need to use for now

In [85]:
# X=df_jobfunction[['OP_Job_Function__c']]
# print(X)

# y=df_jobfunction[['Title']]
# print(y)

# X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3,random_state=420)
# for i in [X_train,X_test]:
#     i.index = range(i.shape[0])

Logistic Regression doesn't work because model won't converge

In [87]:
# cv = feature_extraction.text.CountVectorizer()
# cv.fit(df_jobfunction.Title)
# feature = cv.transform(df_jobfunction.Title)

# le = preprocessing.LabelEncoder()
# le.fit(df_jobfunction.OP_Job_Function__c)
# target = le.transform(df_jobfunction.OP_Job_Function__c)

# logistic = linear_model.LogisticRegression(max_iter=300)
# logistic.fit(feature, target)

# print(logistic.predict(feature))

# confidence = logistic.predict(feature)
# print(metrics.accuracy_score(target, confidence))

Use desicion tree as a classifier

In [96]:
cv = feature_extraction.text.CountVectorizer()
cv.fit(df_jobfunction.Title)
feature = cv.transform(df_jobfunction.Title) 

le = preprocessing.LabelEncoder()
le.fit(df_jobfunction.OP_Job_Function__c)
target = le.transform(df_jobfunction.OP_Job_Function__c)

print(feature)
print(target)

clf = tree.DecisionTreeClassifier()
clf = clf.fit(feature,target)
score= clf.score(feature,target)
print("Confidence:",score)

  (0, 867)	1
  (0, 14421)	1
  (0, 14790)	1
  (1, 9436)	1
  (1, 12033)	1
  (2, 8984)	1
  (2, 14790)	1
  (3, 1194)	1
  (3, 8030)	1
  (4, 8984)	1
  (4, 10397)	1
  (4, 14790)	1
  (5, 8404)	1
  (6, 2690)	1
  (7, 5116)	1
  (7, 8984)	1
  (7, 14064)	1
  (7, 14227)	1
  (8, 9436)	1
  (8, 13462)	1
  (9, 9436)	1
  (9, 10397)	1
  (9, 14227)	1
  (10, 467)	1
  (10, 3784)	1
  :	:
  (224929, 14850)	1
  (224930, 2501)	1
  (224930, 3031)	1
  (224930, 6720)	1
  (224930, 10715)	1
  (224930, 16207)	1
  (224931, 1647)	1
  (224931, 4265)	1
  (224931, 8984)	1
  (224931, 11550)	1
  (224931, 15289)	1
  (224932, 4265)	1
  (224932, 7471)	1
  (224932, 14850)	1
  (224933, 467)	1
  (224933, 10397)	1
  (224934, 1037)	1
  (224934, 2099)	1
  (224934, 2146)	1
  (224934, 9436)	1
  (224934, 9829)	1
  (224935, 5116)	1
  (224935, 13392)	1
  (224935, 14939)	1
  (224937, 18248)	1
[11 19 11 ...  6 14  6]
Confidence: 0.9625318976784714